.header {
  background-color: #452447fc;
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.svg-container {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  background-color: #6e3f70dc;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #ebe1eb;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar a,
  .dropdown {
    float: none;
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
  }

  .dropdown-content {
    position: static;
    display: none;
    width: 100%;
    text-align: left;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}

#myFooter {
  text-align: center;
  padding: 8px 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #d0d0d0;
  background-color: #6f546f;
}

h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #e5cde6;
}

p,
ul,
ol {
  font-family: Arial, Helvetica, sans-serif;
  color: #e5cde6;
}

.content {
  max-width: 90%;
  margin: 0 auto;
}

a {
  color: #e5cde6;
}

.container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("ururu.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.survey-form {
  width: 75%;
  max-width: 400px;
  padding: 20px;
  border: 2px solid #b75dc7;
  border-radius: 10px;
  background-color: #e5cde6;
  margin: 20px;
}

.survey-form h2 {
  color: #69396b;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.survey-form button {
  background-color: #553755;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  justify-content: center;
}

.survey-form button:hover {
  background-color: rgb(134, 26, 153);
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.error-message {
  color: red;
  margin-top: 5px;
}

.ururu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
